.flex-ca-parent-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ca-company-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.flex-ca-container {
  display: flex;
  justify-content: center;
}

.ca-form {
  padding: 20px 20px 20px 20px;
  width: 30%;
  border: 1px solid #afafaf;
}

.ca-title {
  display: block;
}
