.page-not-found-container {
  padding-top: 150px;
  text-align: center;
}

.page-not-found-heading {
  font-size: 100px;
  font-weight: 700;
}

.page-not-found-sub-heading {
  font-weight: 700;
}

.page-not-found-error-msg {
  margin-bottom: 50px;
  color: #797979;
}
