.flex-product-parent-container {
  display: flex;
  justify-content: center;
}

.product-container {
  margin-top: 70px;
  width: 75vw;
}

.flex-first-row {
  display: flex;
}

.product-img-container {
  width: 45%;
}

.product-img {
  max-width: 100%;
  height: auto;
}

.product-info-container {
  padding-left: 35px;
  width: 55%;
}

.product-heading {
  text-transform: uppercase;
}

.product-price {
  font-size: 22px;
}

.product-basket-container {
  margin-top: 25px;
}

.product-tab-container {
  margin-top: 50px;
}

.tab-nav-link {
  cursor: pointer;
}

.active-tab {
  background-color: #dddddd;
}

.tab-pane {
  padding: 20px 10px 20px 10px;
}
