.product-parent-container {
  display: flex;
  justify-content: center;
}

.product-container {
  margin-top: 70px;
  width: 75vw;
  /* background-color: greenyellow; */
}

.first-row {
  display: flex;
}

.product-img-container {
  width: 40%;
  border: 1px solid #dddddd;
}

.product-info-container {
  padding-left: 35px;
  width: 60%;
}

.product-tab-container {
  margin-top: 50px;
}

.tab-nav-link {
  cursor: pointer;
}

.active-tab {
  background-color: #dddddd;
}

.tab-pane {
  padding: 20px 10px 20px 10px;
}
