.product-list-row-item {
  padding: 15px 10px 15px 10px;
  background-color: #fafafa;
  border: 1px solid #dee2e6;
  flex-wrap: nowrap !important;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px -2px #8d8d8d;
}

.product-list-col-1 {
  flex: 5% !important;
}

.product-list-image {
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.product-list-col-2 {
  margin-left: 10px;
  flex: 80% !important;
  display: flex;
  flex-direction: column;
}

.product-item-link {
  font-size: 22px;
  color: #000000;
}

.product-item-link:hover {
  text-decoration: none;
  color: #c45500;
}

.product-list-col-3 {
  flex: 15% !important;
}

.delivery-para {
  margin: 3px 0px 0px 0px;
}

.shipping-para {
  font-size: 12px;
  margin-bottom: 10px;
}

.product-list-col-3-row-3 {
  border-bottom: 1px solid #a9a9a9;
  margin-bottom: 10px;
}

.price-span {
  font-size: 20px;
}

.product-list-col-3-row-4 {
  display: flex;
  justify-content: center;
}
