.flex-login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  padding: 20px 20px 20px 20px;
  width: 30%;
  border: 1px solid #afafaf;
}

.login-btn {
  margin-right: 20px;
}

.create-acc-btn {
}
