@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");
.company-logo {
  cursor: pointer;
  font-size: 34px;
}

.e {
  margin-right: 4px;
  font-family: "Lily Script One", cursive;
  color: #ffa500;
}
