.flex-hb-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434343;
  /* background-color: #1a232e; */
  padding: 20px 0px 20px 0px;
}

.hb-company-logo-container {
  text-align: center;
  margin: 0px 25px 0px 25px;
  color: #ffffff;
  flex: 15%;
}

.sb-container {
  position: relative;
  margin: 0px 25px 0px 25px;
  flex: 70%;
}

.flex-hb-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px 0px 25px;
  flex: 15%;
}

.hb-link {
  color: #ffffff;
  font-size: 14px;
}

.hb-link:hover {
  color: #b8b8b8;
  text-decoration: none;
  opacity: 0.8;
}

.basket-container {
  margin-right: 35px;
}
.basket-icon {
  margin-right: 5px;
}

.basket-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.log-in-icon {
  margin-right: 5px;
}
