.flex-hb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a232e;
  padding: 20px 0px 20px 0px;
}

.company-logo {
  margin: 0px 25px 0px 25px;
  color: #ffffff;
  flex: 10%;
}

.sb-container {
  margin: 0px 25px 0px 25px;
  flex: 80%;
}

.hb-login-btn-container {
  margin: 0px 25px 0px 25px;
  flex: 10%;
}
