.sr-list-item {
  padding: 15px 0px 15px 0px;
  background-color: #fafafa;
  border-top: solid 2px darkgrey;
}

.product-img {
  cursor: pointer;
}

.sr-product-name-link {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.sr-product-name-link:hover {
  text-decoration: none;
  color: #4a4a4a;
}

.sr-product-price {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
